 # PostCSS settings
# ----------------
# Whether to activate PostCSS functionality or not.
PostCSS: false

# The source for your css, this is the file you should use for 
# all your imports, and will serve as the "entrypoint" for PostCSS
CSSsourceFile: css/styles.css

# The file which your compiled CSS will be written to
# The sourcemap will be written to a file with the same name 
# but with .map appended. Make sure that both this and the
# .map file exists.
cssFile: css/styles.pkgd.css

# UglifyJS settings
# -----------------
# Whether to activate UglifyJS functionality or not.
UglifyJS: false

JSsourceFile: js/scripts.js

# The file which your compiled JS will be written to
# The sourcemap will be written to a file with the same name 
# but with .map appended. Make sure that both this and the
# .map file exists.
jsFile: js/scripts.pkgd.js

# To include files in it use `require('your_filename.js');` in
# the file. This is not a full require.js implementation, it just
# replaces the require function with the code